h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

body.modal-open {
  overflow: hidden;
}

.menu-is-open {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label {
  display: inline-block;

  margin-bottom: 15px;

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-transform: uppercase;

  color: var(--second-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.products,
.contacts {
  @extend %section-padding;
}

section,
.header,
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
