<section class="about" id="about">
  <div class="container">
    <b class="about__label label">tradition and love</b>
    <h2 class="about__title label">how it’s made?</h2>
    <div class="about__box">
      <div class="about__thumb">
        <picture class="about__img">
          <source
            srcset="
              ./images/about/home-pic4_desktop.webp    1x,
              ./images/about/home-pic4@2x_desktop.webp 2x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about/home-pic4_desktop.png    1x,
              ./images/about/home-pic4@2x_desktop.png 2x
            "
            type="image/png"
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about/home-pic4_tablet.webp    1x,
              ./images/about/home-pic4@2x_tablet.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/about/home-pic4_tablet.png    1x,
              ./images/about/home-pic4@2x_tablet.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/about/home-pic4_mobile.webp    1x,
              ./images/about/home-pic4@2x_mobile.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/about/home-pic4_mobile.png    1x,
              ./images/about/home-pic4@2x_mobile.png 2x
            "
            type="image/png"
            media="(max-width:767px)"
          />

          <img
            src="./images/about/home-pic4_mobile.png"
            alt="Black and white cow and a jug of milk"
          />
        </picture>
      </div>

      <div class="about__text-box">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--light">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__text about__text--light">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="button-advantages" data-modal-about-open>
          <span>Read more</span>
          <svg height="8" width="10" class="button__pointer">
            <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
