<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <b class="advantages__label label">721</b>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <b class="advantages__label label">16kg</b>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <b class="advantages__label label">84</b>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
