<section class="section customer-reviews">
    <div class="container customer-reviews__container">
        <h2 class="hidden">Customer reviews</h2>
        <ul class="customer-reviews__slider slider-one">
            <li class="customer-reviews__item">
                <picture class="customer-reviews__photo">
                    <source srcset="./images/customer/testimonials1.webp 1x, ./images/customer/testimonials1@2x.webp 2x"
                        media="(min-width: 85px)" type="image/webp" />
                    <source srcset="./images/customer/testimonials1.png 1x, ./images/customer/testimonials1@2x.png 2x"
                        media="(min-width: 85px)" type="image/png" />
                    <img src="./images/customer/testimonials1.png" width="85" height="85" alt="Photo Emily" />
                </picture>
                <div class="customer-reviews__thumb">
                    <p class="customer-reviews__descr">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.</p>
                </div>
                <div class="customer-rewiews__meta">
                    <p class="customer-reviews__name">Emily, Los Angeles</p>
                </div>
            </li>
            <li class="customer-reviews__item">
                <picture class="customer-reviews__photo"> 
                    <source srcset="./images/customer/testimonials2.webp 1x, ./images/customer/testimonials2@2x.webp 2x"
                        media="(min-width: 85px)" type="image/webp" />
                    <source srcset="./images/customer/testimonials2.png 1x, ./images/customer/testimonials2@2x.png 2x"
                        media="(min-width: 85px)" type="image/png" />
                    <img src="./images/customer/testimonials2.png" width="85" height="85" alt="Photo Sindy" />
                </picture>
                <div class="customer-reviews__thumb">
                    <p class="customer-reviews__descr">Nullam Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus. </p>
                </div>
                <div class="customer-rewiews__meta">
                    <p class="customer-reviews__name">Sindy, New York</p>
                </div>
            </li>
            <li class="customer-reviews__item">
                <picture class="customer-reviews__photo">
                    <source srcset="./images/customer/testimonials3.webp 1x, ./images/customer/testimonials3@2x.webp 2x"
                        media="(min-width: 85px)" type="image/webp" />
                    <source srcset="./images/customer/testimonials3.png 1x, ./images/customer/testimonials3@2x.png 2x"
                        media="(min-width: 85px)" type="image/png" />
                    <img src="./images/customer/testimonials3.png" width="85" height="85" alt="Photo Sarra" />
                </picture>
                <div class="customer-reviews__thumb">
                    <p class="customer-reviews__descr">Nullam Nullam Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.</p>
                </div>
                <div class="customer-rewiews__meta">
                    <p class="customer-reviews__name">Sarra, New Jercy</p>
                </div>
            </li>
        </ul>
        <div class="slider-two">
            <div class="slider-two__card"></div>
            <div class="slider-two__card"></div>
            <div class="slider-two__card"></div>
        </div>
    </div>
</section>