<section class="gallery"> 
  <div class="container gallery__container">
    <h2 class="hidden">Gallery</h2>
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/1.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/2.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/3.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/4.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/5.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/6.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/7.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/8.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/9.jpg" alt="Gallery photo" />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb">
          <img class="masonry__img" src="./images/gallery/10.jpg" alt="Gallery photo" />
        </div>
      </li>
    </ul>
  </div>
</section>
