<header class="header">
  <div class="header__panel">
    <a href="./index.html" lang="en" class="header__logo"
      ><img src="./images/icons/svg/logo.svg" alt="Лого Мороженое"
    /></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#hero">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
        <li class="nav__item"><a class="nav__link" href="#advantages">How it’s made?</a></li>
        <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <button class="mobile-menu__burger" data-menu-button>
      <svg class="menu-btn__icon" width="20" height="20">
        <use class="menu-btn__icon-burger" href="./images/icons/svg/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button data-modal-open type="button" class="button-header">
      <span>Buy now</span>
      <svg height="8" width="10" class="button__pointer">
        <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <button class="mobile-menu__close" data-close>
    <svg class="menu-btn__icon" width="20" height="20">
      <use class="menu-btn__close" href="./images/icons/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="button-menu" data-modal-menu-open>
    <span>Buy now</span>
    <svg height="8" width="10" class="button__pointer">
      <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#hero" class="mobile-menu__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#advantages" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#contacts" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>
