<section class="products" id="products">
  <div class="container container--products">
    <b class="label">100% natural</b>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__item-container products__ice-cream">
          <h3 class="products__item-title">ice cream</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="button-arrow" aria-label="открыть">
            <picture>
              <source
                srcset="
                  ./images/icons/png/button_arrow.webp    1x,
                  ./images/icons/png/button_arrow@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/icons/png/button_arrow.png    1x,
                  ./images/icons/png/button_arrow@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img src="./images/icons/png/button_arrow.png" width="40" height="40" alt="Открыть" />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item-container products__ice-coffee">
          <h3 class="products__item-title">ice coffee</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="button-arrow" aria-label="открыть">
            <picture>
              <source
                srcset="
                  ./images/icons/png/button_arrow.webp    1x,
                  ./images/icons/png/button_arrow@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/icons/png/button_arrow.png    1x,
                  ./images/icons/png/button_arrow@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img src="./images/icons/png/button_arrow.png" width="40" height="40" alt="Открыть" />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item-container products__milk-shake">
          <h3 class="products__item-title">milkshakes</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="button-arrow" aria-label="открыть">
            <picture>
              <source
                srcset="
                  ./images/icons/png/button_arrow.webp    1x,
                  ./images/icons/png/button_arrow@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/icons/png/button_arrow.png    1x,
                  ./images/icons/png/button_arrow@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img src="./images/icons/png/button_arrow.png" width="40" height="40" alt="Открыть" />
            </picture>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
