.container--products {
  text-align: center;
}

.products__label {
  display: inline-block;

  margin-bottom: 15px;

  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;

  text-transform: uppercase;

  color: var(--second-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
}

.products__title {
  margin-bottom: 31px;

  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.14;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;

    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 49px;

    font-size: 66px;
    line-height: 1.14;
  }
}

.products__list {
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-top: -24px;
    margin-left: -24px;
  }
}

.products__item {
  position: relative;
  padding-top: 115px;

  &:nth-child(1) .products__item-container {
    background: #ffb8ca;
  }
  &:nth-child(2) .products__item-container {
    background: #f0d1a5;
  }
  &:nth-child(3) .products__item-container {
    background: #c2e297;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 20px) / 3);
    margin-top: 20px;
    margin-left: 20px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 24px) / 3);
    margin-top: 24px;
    margin-left: 24px;
    padding-top: 210px;
  }
}

.products__item-container {
  border-radius: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 249px;
    height: 252px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 2;

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;
    }
    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 160px 40px 40px 40px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 24px;
    padding-top: 152px;
    padding-bottom: 40px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    border-radius: 24px;
    padding: 165px 44px 50px 44px;
  }
}

.products__ice-cream {
  &::before {
    background-image: url(../images/products/home-pic1_mobile.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/home-pic1@2x_mobile.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/home-pic1_tablet.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic1@2x_tablet.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/home-pic1_desktop.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic1@2x_desktop.png);
      }
    }
  }
}

.products__ice-coffee {
  &::before {
    background-image: url(../images/products/home-pic2_mobile.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/home-pic2@2x_mobile.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/home-pic2_tablet.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic2@2x_tablet.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/home-pic2_desktop.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic2@2x_desktop.png);
      }
    }
  }
}

.products__milk-shake {
  &::before {
    background-image: url(../images/products/home-pic3_mobile.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/home-pic3@2x_mobile.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/home-pic3_tablet.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic3@2x_tablet.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/home-pic3_desktop.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/home-pic3@2x_desktop.png);
      }
    }
  }
}

.products__item-title {
  position: relative;
  margin-bottom: 66px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-color);

  &::after {
    content: '';
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    width: 26px;
    height: 6px;

    background-image: url(../images/icons/png/products_points.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 1280px) {
      top: 70px;
    }
  }
}

.products__item-text {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: var(--primary-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}
